<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.interactive_map">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuestActivity"></activity>
        <activity android:name=".Shops" />
        <activity android:name=".Seafront" />
        <activity android:name=".Center" />
        <activity android:name=".Dacha" />
        <activity android:name=".Work" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>