<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.interactive_map">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="29" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".svalka"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Shops"
            android:screenOrientation="portrait"/>
        <activity android:name=".Seafront"
            android:screenOrientation="portrait"/>
        <activity android:name=".Center"
            android:screenOrientation="portrait"/>
        <activity android:name=".Dacha"
            android:screenOrientation="portrait"/>
        <activity android:name=".Work"
            android:screenOrientation="portrait"/>
        <activity android:name=".Home"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>